body {
    font: 500 15px Arial;
    background-color: hwb(0 7% 93%);
    
}

header {
    text-align: center;
    
    color: white;
}

section {
    background-image: linear-gradient(106deg,rgba(230, 230, 230, 0.13), rgba(153, 153, 153, 0.116) 50%, rgba(109, 109, 109, 0.068) 50%, rgba(255, 255, 255, 0.045)10%, black);
    color: white;
    width: 300px;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.445);
}

#produto, #preco {
    border-radius: 8px;
    width: 200px;
    height: 25px;
    border: none;
}

section > div > p {
    font: 900 15px Arial;
    
}

section > ul {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0px;
    justify-content: space-around;
    width: 300px;
    
}

section > ul > li {
    margin-top: 10px;
    width: 50%;
    text-align: left;
    
    
}

section > ul > span {
    display: inline;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    
    
}

section > div#res {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
}

a  {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 30px;
    background-image: linear-gradient(106deg, rgba(0, 255, 255, 0.640) , rgb(0, 160, 160), rgb(0, 110, 110));
    color: rgb(255, 255, 255);
    font: 600 15px Arial;
    text-shadow:  1px 1px 5px black;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
}

a:hover {
    background-image: linear-gradient(106deg, rgba(0, 211, 211, 0.64) , rgb(0, 138, 138), rgb(0, 85, 85));
    
}

a:active {
    background-image: linear-gradient(106deg, rgba(0, 185, 185, 0.64) , rgb(0, 112, 112), rgb(0, 56, 56));
    transform: translateY(2px);
}

a#cadastrar {
    margin-top: 10px;
}

footer {
    margin: auto;
}