body {
    font: 500 15pt Arial;
    background-color: hwb(0 13% 87%);
    
}

header {
    text-align: center;
    font: 900 20px Arial;
    color: white;
}

section {
    background-image: linear-gradient(106deg, rgba(153, 153, 153, 0.068) 60%, rgba(255, 255, 255, 0.233));
    color: white;
    width: 400px;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
}

section > ul {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0px;
    justify-content: center;
    width: 400px;
    
}

section > ul > li {
    margin-top: 10px;
    width: 50%;
    text-align: left;
    
    
}

section > ul > span {
    display: inline;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    font-size: 20px;
    
    
    
}

section > div#res {
    margin-top: 10px;
    font-size: 20px;
}


footer {
    margin: auto;
}